src/main/resources/META-INF/my.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/schema/my"
           elementFormDefault="qualified">

    <xs:element name="my-bean-2">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="age" type="xs:int"/>
        </xs:complexType>
    </xs:element>

</xs:schema>